<article class="single art aspect-wide"
         itemscope="itemscope" itemtype="http://schema.org/MediaObject">
  
  {{ partial "article-headline.html" . }}
  
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "MediaObject",
    "author": "Jon Ross",
    "dateModified": {{ time .Date }},
    "name": "{{ .Title }}",

    "encodingFormat": "png",
    
    "contentUrl": "/images/art/{{ .Params.art.image }}-full.jpg",
    }
  </script>

  <section class="body">
    
    <section class="art image">
      <a href="/images/art/{{ .Params.art.image }}-full.jpg" title="Direct link to full-size image">
        <img src="/images/art/{{ .Params.art.image }}-preview.jpg" alt="{{ .Title }}" />
      </a>

      <div class="actions art-info">
        
        <a class="full-size button" href="/images/art/{{ .Params.art.image }}-full.jpg" title="Direct link to high-resolution image">View full-size</a>

        {{ if .Params.art.redbubble }}
        <a class="full-size button buy right" target="_blank" href="{{ .Params.art.redbubble }}" title="Buy poster from RedBubble">Buy poster from RedBubble</a>
        {{ end }}
      </div>
      
    </section>
    
    <section class="content">
      {{ .Content }}
    </section>

    <!--
    <section class="patreon-link">
      <p>
        Interested in my art? Check out my <a href="https://www.patreon.com/zlsa/" target="_blank">Patreon page</a>,
        where you can support me in exchange for rewards such as
        access to early previews of my art. Thanks for the help!
      </p>
    </section>
-->
    
    {{ partial "article-comments.html" . }}
    {{ partial "article-meta.html" . }}
    
  </section>

</article>
