<article class="list-item art{{ if .Draft }} draft{{ end }}">
  
  {{ partial "article-list-item-headline.html" . }}
  
  {{ partial "article-list-item-data.html" . }}
  
  <section class="body">
    <section class="art image">
      <a href="{{ .RelPermalink }}" title="Open full article">
        <img src="/images/art/{{ .Params.art.image }}-cropped.jpg" />
      </a>
    </section>

    <section class="summary content">
      {{ partial "article-list-item-summary.html" . }}
      
      {{ if .Truncated }}
      <span class="read-more">
        <a href="{{ .RelPermalink }}" title="Open full article">Read more</a>
        <span class="reading-time">({{ .ReadingTime }} min)</span>
      </span>
      {{ end }}
      
    </section>
    
  </section>
  
  {{ partial "article-meta.html" . }}
  
</article>
