<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "meta.html" . }}
    
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
  </head>
  {{ if .Params.hero.background }}
  <body data-title="{{ .Title }}" data-section="{{ .Section }}" class="no-js hero-background{{ if .Params.story }} story{{ end }}">
  {{ else}}
  <body data-title="{{ .Title }}" data-section="{{ .Section }}" class="no-js{{ if .Params.story }} story{{ end }}">
  {{ end }}    
    
    <script>$('body').removeClass('no-js');</script>

    {{ partial "subheader.html" . }}
