
$color-page-background: #242424;
$color-story-background: #f4f4f4;

$color-header-background: #303030;

$color-background: #fff;
$color-foreground-primary: rgba(black, 0.87);
$color-foreground-secondary: rgba(black, 0.54);

$color-primary: #dd6644;

$color-apps: #8BC34A;
$color-art: #FFF;
$color-articles: #C33;
$color-infographics: #009688;
$color-posts: #dd6644;
$color-projects: #607D8B;
$color-term: #00BCD4;

$color-donate: #FFC107;

$color-meta-background: #f4f4f4;

$style-page-border: 2px solid rgba(white, 0.2);
$style-border: 2px solid rgba(black, 0.1);
$style-border-thin: 1px solid rgba(black, 0.05);

$style-solid-border: 2px solid lighten(black, 90%);
$style-solid-border-thin: 1px solid lighten(black, 95%);

$color-link: #07d;

$color-footnote: #ffc;
$color-footnote-link: #def;

