<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
  {{ with .Get "link"}}<a href="{{.}}">
  {{ else }}<a href="{{ .Get "attrlink" }}">{{ end }}
  <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  </a>
  
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <span class="title">{{ .Get "title" }}</span>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
          <span class="credit">Credit:
          {{ with .Get "attrlink"}}<a href="{{.}}">{{ else }}<a>{{ end }}{{ .Get "attr" }}</a></span>
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
